{% extends 'base.html' %}

{% block content %}
<h1>Cities list</h1>
<div class="row">
	<div class="col-md-8 mx-auto">
		<a class="btn btn-primary add-city-button" href="{% url 'cities:add-city' %}" role="button">Add city</a>
		<table class="table table-sm cities-table">
			<thead>
				<tr>
					<th scope="col">Title</th>
			</thead>
			<tbody>
				{% for city in cities %}
				<tr>
					<td>{{ city.title }}</td>
				</tr>
				{% endfor %}
			</tbody>			
		</table>
	</div>
	{% include 'pagination.html'%}
</div>
{% endblock content %}
